{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "jsx-control-statements",
    "transform-runtime"
  ],
  "only": [
    "bin/",
    "app/",
    "*.babel.js"
  ],
}
