{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "jsx": true,
    "templateStrings": true
  },
  "rules": {
    "quotes": [2, "single"]
  }
}
