div(class="row")
  header(role="section-header" class="account-list__section-header section-header")
    div(class="large-1 columns")
    div(class="large-6 large-offset-1 columns")
      h3(class="section-header__title") header
    div(class="large-5 columns")
      div(class="row")
        div(class="large-5 columns")
          p Report issues
        div(class="large-2 columns")
          p
        div(class="large-5 columns")
          p Hi, Username
          a(href="/logout") Logout

