$font-stack: 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;

// z-index
$overlay-z-index: 999;
$menu-level-z-index: 100;

// bg-color
$body-bg-color: #F5F5F5;
$m800-mainmenu-bar-bg-color: rgb(127, 52, 52);

// menu-sidebar
$menu-sidebar-width: 200px;
$menu-sidebar-offcanvas-width: 50px;
