@import "../../vendor/foundation/scss/foundation/functions";

/*********************************************
theme setting
*********************************************/
//main body color
$body-font-color: #414651;
$body-bg-color-1: #fff;
$body-bg-color-2: rgba(0,0,0,0.1);

$brand-primary: #e05353;
$brand-secondary: #8f4646;
$brand-extend: #c24848;
$brand-addon: #b87879;

$black: #000;
$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #efefef;
$gray-table: #e4e4e4;

$link-secondary: #8d929a;

//link
$link-function-factor: -50%;

//form elements
$place-holder-color: #999;

//general dropdown color
$dropdown-bg-color: #555;
$dropdown-link-bg-color: transparent;
$dropdown-divider-color: #666;
$dropdown-divider-lightness: 0%;

//company switcher
$company-switcher-width: 270px;
$company-switcher-bg-color: $dropdown-bg-color;


//need to rework
$description-font-size: 12px;

// z-index
$overlay-z-index: 999;
$menu-level-z-index: 100;


/*********************************************
components setting
*********************************************/
// menu-sidebar
$menu-sidebar-width: 17.5rem;
$menu-sidebar-offcanvas-width: 5rem;
$menu-sidebar-item-height: rem-calc(70);

//top-bar--inner
$topbar-inner-height: rem-calc(55);
$topbar-inner-bg-color: $brand-extend;
$topbar-inner-item-bg-color: transparent;
$topbar-inner-link-color: rgba(255,255,255,0.5);
$topbar-inner-link-color-active: rgba(255,255,255,1);
$topbar-inner-link-bg-color: transparent;

//tabs-inverted
$tab-inverted-border: 1px solid rgba(255,255,255,0.2);

//accordion
$accordion-head-font-size: rem-calc(14);
$accordion-item-link-color: $link-secondary;
$accordion-item-label-font-size: rem-calc(20);

// dialog
$dialog-header-background-color: $brand-extend;
$dialog-header-color: #fff;

//panels
$panels-h1-font-size: rem-calc(40);
$panels-h4-font-size: rem-calc(20);
$panels-h5-font-size: rem-calc(16);
$panels-border-radius: rem-calc(8);
$panels-addon-title-color: #fff;
$panels-addon-title-bg-color: $brand-addon;

//button-groups
$button-groups-padding: rem-calc(10);

//company-sidebar
$company-sidebar-height: $topbar-inner-height;

//form elements
$place-holder-color: #999;

//status colors
$status-active: #4bdb40;
$status-disable: #69a3b0;
$status-font-size: rem-calc(11);

//general dropdown color
$dropdown-bg-color: #555;
$dropdown-link-bg-color: transparent;
$dropdown-divider-color: #666;
$dropdown-divider-lightness: 0%;

//company switcher
$company-switcher-width: 270px;
$company-switcher-bg-color: $dropdown-bg-color;

//swtich
$switch-height-tiny: 24px;

//wallet
$paid-wallet-bg: aliceblue;
$paid-wallet-label: #5D95B6;
$free-wallet-bg: honeydew;
$free-wallet-label: $status-active;

//icons:
$icon-apple-color: $gray-lighter;
$icon-android-color: #A4C639;
$icon-male-color: rgb(81, 187, 226);
$icon-female-color: rgb(250, 108, 205);

//flag
$flag-original-dimension: 256;
$flag-resized-dimension: 28;

//data-cell
$up-trend-font-color: #2AD032;
$down-trend-font-color: #FC0E2B;
$no-effect-trend-font-color: #CCC;
