div(class="account-list row")
  div(class="large-3 columns account-list__side-nav")
    div(class="account-list__side-nav__header")
    div(class="account-list__side-nav__contents")
      ul(class="side-nav")
        li(ng-repeat="company in companies | filter:query" ng-hide="!company.data._id || company.data._id == ''")
          a(ui-sref=".company({ companyId: company.data._id })" ui-sref-active="active") {{company.data.name}}
    div(class="account-list__side-nav__footer") {{companies.length}} companies
  div(class="large-9 columns account-list__view-port" ui-view="company")


//div(class="company-list row")
//  div(class="large-1 columns")
//  div(class="large-11 large-offset-1 columns")
//    div(class="row")
//      section(role="controls" class="companies-list__main-control main-control")
//        div(class="large-5 columns end")
//          p
//            input(ng-model="query" type="text" name="filter" placeholder="Username or User Group Name")
//    div(class="row")
//      aside(class="companies-list__slider main-slider" ng-show="$state.current.name.indexOf('index.') > 0")
//        div(class="main-slider__inner-wrapper .inner-wrapper" ui-view="company")
//      section(role="contents" class="companies-list__block")
//        div(class="large-12 columns")
//          ul(class="companies-block-grid-4")
//            //- If have permission
//            li(class="new")
//              div(class="clearfix")
//                a(ui-sref=".new")
//                  div(class="icon")
//                    i(class="fi-plus inline")
//            li(ng-repeat="company in companies | filter:query" ng-hide="!company.data._id || company.data._id == ''")
//              div(class="clearfix")
//                a(ui-sref=".company({ companyId: company.data._id })" ui-sref-active="active")
//                  div(class="icon large-4 columns")
//                    i(class="fi-home right inline")
//                  div(class="name large-8 columns")
//                  {{company.data.name}}
