div(class="account-list row")
  div(class="large-12 columns")
    div(class="row")
      div(class="large-1 columns")
      div(class="large-11 large-offset-1 columns")
        section(role="navs" class="account-list__navs")
          dl(class="tabs")
            dd
              a(ui-sref="endusers.index") EndUsers list
            dd
              a(ui-sref="endusers.topup") Top-up history
            dd
              a(ui-sref="endusers.vsf") VSF record
  div(class="large-1 columns")
  div(class="large-11 large-offset-1 columns")
    div(class="row")
      section(role="controls" class="account-list__main-control main-control")
        div(class="large-5 columns end")
          p
            label(for="startDate") start date
            input(type="text" name="startDate" ng-model="query.startDate" placeholder="start date")
            label(for="endDate") end date
            input(type="text" name="endDate" ng-model="query.endDate" placeholder="end date")
          p
            label(for="number") mobile number
            input(type="text" name="number" ng-model="query.number" placeholder="mobile number")
          p
            label(for="status") status
            select(name="status" ng-model="query.status" multiple)
              option(value="") all
              option(value="success") success
              option(value="failure") failure
              option(value="pending") pending
          p
            label(for="walletType") wallet type
            select(name="walletType" ng-model="query.walletType" multiple)
              option(value="") all
              option(value="free") free
              option(value="paid") paid
          p
            label(for="rechargeType") recharge type
            select(name="rechargeType" ng-model="query.rechargeType" multiple)
              option(value="") all
              option(value="CreditCard") creditc card
              option(value="Paypal") paypal
              option(value="PurchaseCredit") purchase credit
          p
            label(for="type") transaction type
            select(name="type" ng-model="query.type" multiple)
              option(value="") all
              option(value="Recharge") recharge
              option(value="Refund") refund
          p
            button(class="button" ng-click="search()") Search
    div(class="row")
      section(role="contents" class="account-list__block")
        div(class="large-12 columns")
          table
            thead
              tr
                th username
                th mobile number
                th amount
                th timestamp
                th status
            tbody
              tr(ng-show="topUps.error")
                td(colspan="5") {{ 'api.error' | translate }}
              tr(ng-hide="topUps.error || topUps.length > 0")
                td(colspan="5") {{ 'api.empty' | translate }}
              tr(ng-repeat="topUp in topUps" ng-hide="topUps.error")
                td {{topUp.username}}
                td {{topUp.username}}
                td {{topUp.amount}}
                td {{topUp.rechargeDate}}
                td {{topUp.status}}

