/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.flag--ad {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -1822px;
  width: 256px;
  height: 256px;
}
.flag--ae {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -2866px;
  width: 256px;
  height: 256px;
}
.flag--af {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -517px;
  width: 256px;
  height: 256px;
}
.flag--ag {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -517px;
  width: 256px;
  height: 256px;
}
.flag--ai {
  background-image: url(../images/map-sprite.png);
  background-position: -778px 0px;
  width: 256px;
  height: 256px;
}
.flag--al {
  background-image: url(../images/map-sprite.png);
  background-position: -778px -261px;
  width: 256px;
  height: 256px;
}
.flag--am {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -778px;
  width: 256px;
  height: 256px;
}
.flag--an {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -778px;
  width: 256px;
  height: 256px;
}
.flag--ao {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -778px;
  width: 256px;
  height: 256px;
}
.flag--ar {
  background-image: url(../images/map-sprite.png);
  background-position: -1039px 0px;
  width: 256px;
  height: 256px;
}
.flag--as {
  background-image: url(../images/map-sprite.png);
  background-position: -1039px -261px;
  width: 256px;
  height: 256px;
}
.flag--at {
  background-image: url(../images/map-sprite.png);
  background-position: -1039px -522px;
  width: 256px;
  height: 256px;
}
.flag--au {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1039px;
  width: 256px;
  height: 256px;
}
.flag--aw {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -1039px;
  width: 256px;
  height: 256px;
}
.flag--az {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -1039px;
  width: 256px;
  height: 256px;
}
.flag--ba {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -1039px;
  width: 256px;
  height: 256px;
}
.flag--bb {
  background-image: url(../images/map-sprite.png);
  background-position: -1300px 0px;
  width: 256px;
  height: 256px;
}
.flag--bd {
  background-image: url(../images/map-sprite.png);
  background-position: -1300px -261px;
  width: 256px;
  height: 256px;
}
.flag--be {
  background-image: url(../images/map-sprite.png);
  background-position: -1300px -522px;
  width: 256px;
  height: 256px;
}
.flag--bf {
  background-image: url(../images/map-sprite.png);
  background-position: -1300px -783px;
  width: 256px;
  height: 256px;
}
.flag--bg {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1300px;
  width: 256px;
  height: 256px;
}
.flag--bh {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -1300px;
  width: 256px;
  height: 256px;
}
.flag--bi {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -1300px;
  width: 256px;
  height: 256px;
}
.flag--bj {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -1300px;
  width: 256px;
  height: 256px;
}
.flag--bm {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -1300px;
  width: 256px;
  height: 256px;
}
.flag--bn {
  background-image: url(../images/map-sprite.png);
  background-position: -1561px 0px;
  width: 256px;
  height: 256px;
}
.flag--bo {
  background-image: url(../images/map-sprite.png);
  background-position: -1561px -261px;
  width: 256px;
  height: 256px;
}
.flag--br {
  background-image: url(../images/map-sprite.png);
  background-position: -1561px -522px;
  width: 256px;
  height: 256px;
}
.flag--bs {
  background-image: url(../images/map-sprite.png);
  background-position: -1561px -783px;
  width: 256px;
  height: 256px;
}
.flag--bt {
  background-image: url(../images/map-sprite.png);
  background-position: -1561px -1044px;
  width: 256px;
  height: 256px;
}
.flag--bw {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1561px;
  width: 256px;
  height: 256px;
}
.flag--by {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -1561px;
  width: 256px;
  height: 256px;
}
.flag--bz {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -1561px;
  width: 256px;
  height: 256px;
}
.flag--ca {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -1561px;
  width: 256px;
  height: 256px;
}
.flag--cd {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -1561px;
  width: 256px;
  height: 256px;
}
.flag--cf {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -1561px;
  width: 256px;
  height: 256px;
}
.flag--cg {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px 0px;
  width: 256px;
  height: 256px;
}
.flag--ch {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px -261px;
  width: 256px;
  height: 256px;
}
.flag--ci {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px -522px;
  width: 256px;
  height: 256px;
}
.flag--ck {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px -783px;
  width: 256px;
  height: 256px;
}
.flag--cl {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px -1044px;
  width: 256px;
  height: 256px;
}
.flag--cm {
  background-image: url(../images/map-sprite.png);
  background-position: -1822px -1305px;
  width: 256px;
  height: 256px;
}
.flag--cn {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1822px;
  width: 256px;
  height: 256px;
}
.flag--co {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -1822px;
  width: 256px;
  height: 256px;
}
.flag--cr {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -1822px;
  width: 256px;
  height: 256px;
}
.flag--cs {
  background-image: url(../images/map-sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.flag--cu {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -1822px;
  width: 256px;
  height: 256px;
}
.flag--cv {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -1822px;
  width: 256px;
  height: 256px;
}
.flag--cx {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -1822px;
  width: 256px;
  height: 256px;
}
.flag--cy {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px 0px;
  width: 256px;
  height: 256px;
}
.flag--cz {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -261px;
  width: 256px;
  height: 256px;
}
.flag--de {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -522px;
  width: 256px;
  height: 256px;
}
.flag--dj {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -783px;
  width: 256px;
  height: 256px;
}
.flag--dk {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -1044px;
  width: 256px;
  height: 256px;
}
.flag--dm {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -1305px;
  width: 256px;
  height: 256px;
}
.flag--do {
  background-image: url(../images/map-sprite.png);
  background-position: -2083px -1566px;
  width: 256px;
  height: 256px;
}
.flag--dz {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2083px;
  width: 256px;
  height: 256px;
}
.flag--ec {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -2083px;
  width: 256px;
  height: 256px;
}
.flag--ee {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -2083px;
  width: 256px;
  height: 256px;
}
.flag--eg {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -2083px;
  width: 256px;
  height: 256px;
}
.flag--er {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -2083px;
  width: 256px;
  height: 256px;
}
.flag--es {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -2083px;
  width: 256px;
  height: 256px;
}
.flag--et {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -2083px;
  width: 256px;
  height: 256px;
}
.flag--fi {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -2083px;
  width: 256px;
  height: 256px;
}
.flag--fj {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px 0px;
  width: 256px;
  height: 256px;
}
.flag--fk {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -261px;
  width: 256px;
  height: 256px;
}
.flag--fm {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -522px;
  width: 256px;
  height: 256px;
}
.flag--fo {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -783px;
  width: 256px;
  height: 256px;
}
.flag--fr {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -1044px;
  width: 256px;
  height: 256px;
}
.flag--ga {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -1305px;
  width: 256px;
  height: 256px;
}
.flag--gb {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -1566px;
  width: 256px;
  height: 256px;
}
.flag--gd {
  background-image: url(../images/map-sprite.png);
  background-position: -2344px -1827px;
  width: 256px;
  height: 256px;
}
.flag--ge {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gf {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gh {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gi {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gl {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gm {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gn {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gp {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gq {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -2344px;
  width: 256px;
  height: 256px;
}
.flag--gr {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px 0px;
  width: 256px;
  height: 256px;
}
.flag--gt {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -261px;
  width: 256px;
  height: 256px;
}
.flag--gu {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -522px;
  width: 256px;
  height: 256px;
}
.flag--gw {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -783px;
  width: 256px;
  height: 256px;
}
.flag--gy {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -1044px;
  width: 256px;
  height: 256px;
}
.flag--hk {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -1305px;
  width: 256px;
  height: 256px;
}
.flag--hn {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -1566px;
  width: 256px;
  height: 256px;
}
.flag--hr {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -1827px;
  width: 256px;
  height: 256px;
}
.flag--ht {
  background-image: url(../images/map-sprite.png);
  background-position: -2605px -2088px;
  width: 256px;
  height: 256px;
}
.flag--hu {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2605px;
  width: 256px;
  height: 256px;
}
.flag--id {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -2605px;
  width: 256px;
  height: 256px;
}
.flag--ie {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -2605px;
  width: 256px;
  height: 256px;
}
.flag--il {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -2605px;
  width: 256px;
  height: 256px;
}
.flag--in {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -2605px;
  width: 256px;
  height: 256px;
}
.flag--iq {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -2605px;
  width: 256px;
  height: 256px;
}
.flag--ir {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -2605px;
  width: 256px;
  height: 256px;
}
.flag--is {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -2605px;
  width: 256px;
  height: 256px;
}
.flag--it {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -2605px;
  width: 256px;
  height: 256px;
}
.flag--jm {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -2605px;
  width: 256px;
  height: 256px;
}
.flag--jo {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px 0px;
  width: 256px;
  height: 256px;
}
.flag--jp {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -261px;
  width: 256px;
  height: 256px;
}
.flag--ke {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -522px;
  width: 256px;
  height: 256px;
}
.flag--kg {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -783px;
  width: 256px;
  height: 256px;
}
.flag--kh {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -1044px;
  width: 256px;
  height: 256px;
}
.flag--ki {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -1305px;
  width: 256px;
  height: 256px;
}
.flag--km {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -1566px;
  width: 256px;
  height: 256px;
}
.flag--kn {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -1827px;
  width: 256px;
  height: 256px;
}
.flag--kp {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -2088px;
  width: 256px;
  height: 256px;
}
.flag--kr {
  background-image: url(../images/map-sprite.png);
  background-position: -2866px -2349px;
  width: 256px;
  height: 256px;
}
.flag--kw {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2866px;
  width: 256px;
  height: 256px;
}
.flag--ky {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -2866px;
  width: 256px;
  height: 256px;
}
.flag--kz {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -2866px;
  width: 256px;
  height: 256px;
}
.flag--la {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lb {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lc {
  background-image: url(../images/map-sprite.png);
  background-position: -517px 0px;
  width: 256px;
  height: 256px;
}
.flag--li {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lk {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lr {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -2866px;
  width: 256px;
  height: 256px;
}
.flag--ls {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lt {
  background-image: url(../images/map-sprite.png);
  background-position: -2610px -2866px;
  width: 256px;
  height: 256px;
}
.flag--lu {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px 0px;
  width: 256px;
  height: 256px;
}
.flag--lv {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -261px;
  width: 256px;
  height: 256px;
}
.flag--ly {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -522px;
  width: 256px;
  height: 256px;
}
.flag--ma {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -783px;
  width: 256px;
  height: 256px;
}
.flag--mc {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -1044px;
  width: 256px;
  height: 256px;
}
.flag--md {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -1305px;
  width: 256px;
  height: 256px;
}
.flag--me {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -1566px;
  width: 256px;
  height: 256px;
}
.flag--mf {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -1827px;
  width: 256px;
  height: 256px;
}
.flag--mg {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -2088px;
  width: 256px;
  height: 256px;
}
.flag--mh {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -2349px;
  width: 256px;
  height: 256px;
}
.flag--mk {
  background-image: url(../images/map-sprite.png);
  background-position: -3127px -2610px;
  width: 256px;
  height: 256px;
}
.flag--ml {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mm {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mn {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mo {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mq {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mr {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -3127px;
  width: 256px;
  height: 256px;
}
.flag--ms {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mt {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mu {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mv {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mw {
  background-image: url(../images/map-sprite.png);
  background-position: -2610px -3127px;
  width: 256px;
  height: 256px;
}
.flag--mx {
  background-image: url(../images/map-sprite.png);
  background-position: -2871px -3127px;
  width: 256px;
  height: 256px;
}
.flag--my {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px 0px;
  width: 256px;
  height: 256px;
}
.flag--mz {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -261px;
  width: 256px;
  height: 256px;
}
.flag--na {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -522px;
  width: 256px;
  height: 256px;
}
.flag--nc {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -783px;
  width: 256px;
  height: 256px;
}
.flag--ne {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -1044px;
  width: 256px;
  height: 256px;
}
.flag--nf {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -1305px;
  width: 256px;
  height: 256px;
}
.flag--ng {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -1566px;
  width: 256px;
  height: 256px;
}
.flag--ni {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -1827px;
  width: 256px;
  height: 256px;
}
.flag--nl {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -2088px;
  width: 256px;
  height: 256px;
}
.flag--no {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -2349px;
  width: 256px;
  height: 256px;
}
.flag--np {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -2610px;
  width: 256px;
  height: 256px;
}
.flag--nr {
  background-image: url(../images/map-sprite.png);
  background-position: -3388px -2871px;
  width: 256px;
  height: 256px;
}
.flag--nu {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3388px;
  width: 256px;
  height: 256px;
}
.flag--nz {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -3388px;
  width: 256px;
  height: 256px;
}
.flag--om {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pa {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pe {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pf {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pg {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -3388px;
  width: 256px;
  height: 256px;
}
.flag--ph {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pk {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pl {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pm {
  background-image: url(../images/map-sprite.png);
  background-position: -2610px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pr {
  background-image: url(../images/map-sprite.png);
  background-position: -2871px -3388px;
  width: 256px;
  height: 256px;
}
.flag--ps {
  background-image: url(../images/map-sprite.png);
  background-position: -3132px -3388px;
  width: 256px;
  height: 256px;
}
.flag--pt {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px 0px;
  width: 256px;
  height: 256px;
}
.flag--pw {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -261px;
  width: 256px;
  height: 256px;
}
.flag--py {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -522px;
  width: 256px;
  height: 256px;
}
.flag--qa {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -783px;
  width: 256px;
  height: 256px;
}
.flag--re {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -1044px;
  width: 256px;
  height: 256px;
}
.flag--ro {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -1305px;
  width: 256px;
  height: 256px;
}
.flag--ru {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -1566px;
  width: 256px;
  height: 256px;
}
.flag--rw {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -1827px;
  width: 256px;
  height: 256px;
}
.flag--sa {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -2088px;
  width: 256px;
  height: 256px;
}
.flag--sb {
  background-image: url(../images/map-sprite.png);
  background-position: -4171px -1044px;
  width: 256px;
  height: 254px;
}
.flag--sc {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -2610px;
  width: 256px;
  height: 256px;
}
.flag--sd {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -2871px;
  width: 256px;
  height: 256px;
}
.flag--se {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -3132px;
  width: 256px;
  height: 256px;
}
.flag--sg {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sh {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -3649px;
  width: 256px;
  height: 256px;
}
.flag--si {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sk {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sl {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sm {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sn {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -3649px;
  width: 256px;
  height: 256px;
}
.flag--so {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sr {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -3649px;
  width: 256px;
  height: 256px;
}
.flag--ss {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -3649px;
  width: 256px;
  height: 256px;
}
.flag--st {
  background-image: url(../images/map-sprite.png);
  background-position: -2610px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sv {
  background-image: url(../images/map-sprite.png);
  background-position: -2871px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sy {
  background-image: url(../images/map-sprite.png);
  background-position: -3132px -3649px;
  width: 256px;
  height: 256px;
}
.flag--sz {
  background-image: url(../images/map-sprite.png);
  background-position: -3393px -3649px;
  width: 256px;
  height: 256px;
}
.flag--tc {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px 0px;
  width: 256px;
  height: 256px;
}
.flag--td {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -261px;
  width: 256px;
  height: 256px;
}
.flag--tg {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -522px;
  width: 256px;
  height: 256px;
}
.flag--th {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -783px;
  width: 256px;
  height: 256px;
}
.flag--tj {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -1044px;
  width: 256px;
  height: 256px;
}
.flag--tk {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -1305px;
  width: 256px;
  height: 256px;
}
.flag--tl {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -1566px;
  width: 256px;
  height: 256px;
}
.flag--tm {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -1827px;
  width: 256px;
  height: 256px;
}
.flag--tn {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -2088px;
  width: 256px;
  height: 256px;
}
.flag--to {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -2349px;
  width: 256px;
  height: 256px;
}
.flag--tr {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -2610px;
  width: 256px;
  height: 256px;
}
.flag--tt {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -2871px;
  width: 256px;
  height: 256px;
}
.flag--tv {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -3132px;
  width: 256px;
  height: 256px;
}
.flag--tw {
  background-image: url(../images/map-sprite.png);
  background-position: -3910px -3393px;
  width: 256px;
  height: 256px;
}
.flag--tz {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3910px;
  width: 256px;
  height: 256px;
}
.flag--ua {
  background-image: url(../images/map-sprite.png);
  background-position: -261px -3910px;
  width: 256px;
  height: 256px;
}
.flag--ug {
  background-image: url(../images/map-sprite.png);
  background-position: -522px -3910px;
  width: 256px;
  height: 256px;
}
.flag--us {
  background-image: url(../images/map-sprite.png);
  background-position: -783px -3910px;
  width: 256px;
  height: 256px;
}
.flag--uy {
  background-image: url(../images/map-sprite.png);
  background-position: -1044px -3910px;
  width: 256px;
  height: 256px;
}
.flag--uz {
  background-image: url(../images/map-sprite.png);
  background-position: -1305px -3910px;
  width: 256px;
  height: 256px;
}
.flag--va {
  background-image: url(../images/map-sprite.png);
  background-position: -1566px -3910px;
  width: 256px;
  height: 256px;
}
.flag--vc {
  background-image: url(../images/map-sprite.png);
  background-position: -1827px -3910px;
  width: 256px;
  height: 256px;
}
.flag--ve {
  background-image: url(../images/map-sprite.png);
  background-position: -2088px -3910px;
  width: 256px;
  height: 256px;
}
.flag--vg {
  background-image: url(../images/map-sprite.png);
  background-position: -2349px -3910px;
  width: 256px;
  height: 256px;
}
.flag--vi {
  background-image: url(../images/map-sprite.png);
  background-position: -2610px -3910px;
  width: 256px;
  height: 256px;
}
.flag--vn {
  background-image: url(../images/map-sprite.png);
  background-position: -2871px -3910px;
  width: 256px;
  height: 256px;
}
.flag--vu {
  background-image: url(../images/map-sprite.png);
  background-position: -3132px -3910px;
  width: 256px;
  height: 256px;
}
.flag--wf {
  background-image: url(../images/map-sprite.png);
  background-position: -3393px -3910px;
  width: 256px;
  height: 256px;
}
.flag--ws {
  background-image: url(../images/map-sprite.png);
  background-position: -3654px -3910px;
  width: 256px;
  height: 256px;
}
.flag--ye {
  background-image: url(../images/map-sprite.png);
  background-position: -4171px 0px;
  width: 256px;
  height: 256px;
}
.flag--yt {
  background-image: url(../images/map-sprite.png);
  background-position: -4171px -261px;
  width: 256px;
  height: 256px;
}
.flag--za {
  background-image: url(../images/map-sprite.png);
  background-position: -4171px -522px;
  width: 256px;
  height: 256px;
}
.flag--zm {
  background-image: url(../images/map-sprite.png);
  background-position: -3649px -2349px;
  width: 256px;
  height: 256px;
}
.flag--zw {
  background-image: url(../images/map-sprite.png);
  background-position: -4171px -783px;
  width: 256px;
  height: 256px;
}
