/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-ad {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -1536px;
  width: 256px;
  height: 256px;
}
.icon-ae {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -2560px;
  width: 256px;
  height: 256px;
}
.icon-af {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -256px;
  width: 256px;
  height: 256px;
}
.icon-ag {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -512px;
  width: 256px;
  height: 256px;
}
.icon-ai {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -512px;
  width: 256px;
  height: 256px;
}
.icon-al {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -512px;
  width: 256px;
  height: 256px;
}
.icon-am {
  background-image: url(../images/map-sprite.png);
  background-position: -768px 0px;
  width: 256px;
  height: 256px;
}
.icon-an {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -256px;
  width: 256px;
  height: 256px;
}
.icon-ao {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -512px;
  width: 256px;
  height: 256px;
}
.icon-ar {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -768px;
  width: 256px;
  height: 256px;
}
.icon-as {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -768px;
  width: 256px;
  height: 256px;
}
.icon-at {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -768px;
  width: 256px;
  height: 256px;
}
.icon-au {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -768px;
  width: 256px;
  height: 256px;
}
.icon-aw {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px 0px;
  width: 256px;
  height: 256px;
}
.icon-az {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -256px;
  width: 256px;
  height: 256px;
}
.icon-ba {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -512px;
  width: 256px;
  height: 256px;
}
.icon-bb {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -768px;
  width: 256px;
  height: 256px;
}
.icon-bd {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1024px;
  width: 256px;
  height: 256px;
}
.icon-be {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -1024px;
  width: 256px;
  height: 256px;
}
.icon-bf {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -1024px;
  width: 256px;
  height: 256px;
}
.icon-bg {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -1024px;
  width: 256px;
  height: 256px;
}
.icon-bh {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -1024px;
  width: 256px;
  height: 256px;
}
.icon-bi {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px 0px;
  width: 256px;
  height: 256px;
}
.icon-bj {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -256px;
  width: 256px;
  height: 256px;
}
.icon-bm {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -512px;
  width: 256px;
  height: 256px;
}
.icon-bn {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -768px;
  width: 256px;
  height: 256px;
}
.icon-bo {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -1024px;
  width: 256px;
  height: 256px;
}
.icon-br {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1280px;
  width: 256px;
  height: 256px;
}
.icon-bs {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -1280px;
  width: 256px;
  height: 256px;
}
.icon-bt {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -1280px;
  width: 256px;
  height: 256px;
}
.icon-bw {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -1280px;
  width: 256px;
  height: 256px;
}
.icon-by {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -1280px;
  width: 256px;
  height: 256px;
}
.icon-bz {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -1280px;
  width: 256px;
  height: 256px;
}
.icon-ca {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px 0px;
  width: 256px;
  height: 256px;
}
.icon-cd {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -256px;
  width: 256px;
  height: 256px;
}
.icon-cf {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -512px;
  width: 256px;
  height: 256px;
}
.icon-cg {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -768px;
  width: 256px;
  height: 256px;
}
.icon-ch {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -1024px;
  width: 256px;
  height: 256px;
}
.icon-ci {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -1280px;
  width: 256px;
  height: 256px;
}
.icon-ck {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1536px;
  width: 256px;
  height: 256px;
}
.icon-cl {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -1536px;
  width: 256px;
  height: 256px;
}
.icon-cm {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -1536px;
  width: 256px;
  height: 256px;
}
.icon-cn {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -1536px;
  width: 256px;
  height: 256px;
}
.icon-co {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -1536px;
  width: 256px;
  height: 256px;
}
.icon-cr {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -1536px;
  width: 256px;
  height: 256px;
}
.icon-cs {
  background-image: url(../images/map-sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-cu {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px 0px;
  width: 256px;
  height: 256px;
}
.icon-cv {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -256px;
  width: 256px;
  height: 256px;
}
.icon-cx {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -512px;
  width: 256px;
  height: 256px;
}
.icon-cy {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -768px;
  width: 256px;
  height: 256px;
}
.icon-cz {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -1024px;
  width: 256px;
  height: 256px;
}
.icon-de {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -1280px;
  width: 256px;
  height: 256px;
}
.icon-dj {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -1536px;
  width: 256px;
  height: 256px;
}
.icon-dk {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -1792px;
  width: 256px;
  height: 256px;
}
.icon-dm {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -1792px;
  width: 256px;
  height: 256px;
}
.icon-do {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -1792px;
  width: 256px;
  height: 256px;
}
.icon-dz {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -1792px;
  width: 256px;
  height: 256px;
}
.icon-ec {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -1792px;
  width: 256px;
  height: 256px;
}
.icon-ee {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -1792px;
  width: 256px;
  height: 256px;
}
.icon-eg {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -1792px;
  width: 256px;
  height: 256px;
}
.icon-er {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -1792px;
  width: 256px;
  height: 256px;
}
.icon-es {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px 0px;
  width: 256px;
  height: 256px;
}
.icon-et {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -256px;
  width: 256px;
  height: 256px;
}
.icon-fi {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -512px;
  width: 256px;
  height: 256px;
}
.icon-fj {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -768px;
  width: 256px;
  height: 256px;
}
.icon-fk {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -1024px;
  width: 256px;
  height: 256px;
}
.icon-fm {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -1280px;
  width: 256px;
  height: 256px;
}
.icon-fo {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -1536px;
  width: 256px;
  height: 256px;
}
.icon-fr {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -1792px;
  width: 256px;
  height: 256px;
}
.icon-ga {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gb {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gd {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -2048px;
  width: 256px;
  height: 256px;
}
.icon-ge {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gf {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gh {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gi {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gl {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gm {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -2048px;
  width: 256px;
  height: 256px;
}
.icon-gn {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px 0px;
  width: 256px;
  height: 256px;
}
.icon-gp {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -256px;
  width: 256px;
  height: 256px;
}
.icon-gq {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -512px;
  width: 256px;
  height: 256px;
}
.icon-gr {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -768px;
  width: 256px;
  height: 256px;
}
.icon-gt {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -1024px;
  width: 256px;
  height: 256px;
}
.icon-gu {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -1280px;
  width: 256px;
  height: 256px;
}
.icon-gw {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -1536px;
  width: 256px;
  height: 256px;
}
.icon-gy {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -1792px;
  width: 256px;
  height: 256px;
}
.icon-hk {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -2048px;
  width: 256px;
  height: 256px;
}
.icon-hn {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2304px;
  width: 256px;
  height: 256px;
}
.icon-hr {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -2304px;
  width: 256px;
  height: 256px;
}
.icon-ht {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -2304px;
  width: 256px;
  height: 256px;
}
.icon-hu {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -2304px;
  width: 256px;
  height: 256px;
}
.icon-id {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -2304px;
  width: 256px;
  height: 256px;
}
.icon-ie {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -2304px;
  width: 256px;
  height: 256px;
}
.icon-il {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -2304px;
  width: 256px;
  height: 256px;
}
.icon-in {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -2304px;
  width: 256px;
  height: 256px;
}
.icon-iq {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -2304px;
  width: 256px;
  height: 256px;
}
.icon-ir {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -2304px;
  width: 256px;
  height: 256px;
}
.icon-is {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px 0px;
  width: 256px;
  height: 256px;
}
.icon-it {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -256px;
  width: 256px;
  height: 256px;
}
.icon-jm {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -512px;
  width: 256px;
  height: 256px;
}
.icon-jo {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -768px;
  width: 256px;
  height: 256px;
}
.icon-jp {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -1024px;
  width: 256px;
  height: 256px;
}
.icon-ke {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -1280px;
  width: 256px;
  height: 256px;
}
.icon-kg {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -1536px;
  width: 256px;
  height: 256px;
}
.icon-kh {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -1792px;
  width: 256px;
  height: 256px;
}
.icon-ki {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -2048px;
  width: 256px;
  height: 256px;
}
.icon-km {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -2304px;
  width: 256px;
  height: 256px;
}
.icon-kn {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2560px;
  width: 256px;
  height: 256px;
}
.icon-kp {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -2560px;
  width: 256px;
  height: 256px;
}
.icon-kr {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -2560px;
  width: 256px;
  height: 256px;
}
.icon-kw {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -2560px;
  width: 256px;
  height: 256px;
}
.icon-ky {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -2560px;
  width: 256px;
  height: 256px;
}
.icon-kz {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -2560px;
  width: 256px;
  height: 256px;
}
.icon-la {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -2560px;
  width: 256px;
  height: 256px;
}
.icon-lb {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -2560px;
  width: 256px;
  height: 256px;
}
.icon-lc {
  background-image: url(../images/map-sprite.png);
  background-position: -512px 0px;
  width: 256px;
  height: 256px;
}
.icon-li {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -2560px;
  width: 256px;
  height: 256px;
}
.icon-lk {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -2560px;
  width: 256px;
  height: 256px;
}
.icon-lr {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px 0px;
  width: 256px;
  height: 256px;
}
.icon-ls {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -256px;
  width: 256px;
  height: 256px;
}
.icon-lt {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -512px;
  width: 256px;
  height: 256px;
}
.icon-lu {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -768px;
  width: 256px;
  height: 256px;
}
.icon-lv {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -1024px;
  width: 256px;
  height: 256px;
}
.icon-ly {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -1280px;
  width: 256px;
  height: 256px;
}
.icon-ma {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -1536px;
  width: 256px;
  height: 256px;
}
.icon-mc {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -1792px;
  width: 256px;
  height: 256px;
}
.icon-md {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -2048px;
  width: 256px;
  height: 256px;
}
.icon-me {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -2304px;
  width: 256px;
  height: 256px;
}
.icon-mf {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -2560px;
  width: 256px;
  height: 256px;
}
.icon-mg {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mh {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mk {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -2816px;
  width: 256px;
  height: 256px;
}
.icon-ml {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mm {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mn {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mo {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mq {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mr {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -2816px;
  width: 256px;
  height: 256px;
}
.icon-ms {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mt {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mu {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -2816px;
  width: 256px;
  height: 256px;
}
.icon-mv {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px 0px;
  width: 256px;
  height: 256px;
}
.icon-mw {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -256px;
  width: 256px;
  height: 256px;
}
.icon-mx {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -512px;
  width: 256px;
  height: 256px;
}
.icon-my {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -768px;
  width: 256px;
  height: 256px;
}
.icon-mz {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -1024px;
  width: 256px;
  height: 256px;
}
.icon-na {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -1280px;
  width: 256px;
  height: 256px;
}
.icon-nc {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -1536px;
  width: 256px;
  height: 256px;
}
.icon-ne {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -1792px;
  width: 256px;
  height: 256px;
}
.icon-nf {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -2048px;
  width: 256px;
  height: 256px;
}
.icon-ng {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -2304px;
  width: 256px;
  height: 256px;
}
.icon-ni {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -2560px;
  width: 256px;
  height: 256px;
}
.icon-nl {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -2816px;
  width: 256px;
  height: 256px;
}
.icon-no {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3072px;
  width: 256px;
  height: 256px;
}
.icon-np {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -3072px;
  width: 256px;
  height: 256px;
}
.icon-nr {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -3072px;
  width: 256px;
  height: 256px;
}
.icon-nu {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -3072px;
  width: 256px;
  height: 256px;
}
.icon-nz {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -3072px;
  width: 256px;
  height: 256px;
}
.icon-om {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pa {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pe {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pf {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pg {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -3072px;
  width: 256px;
  height: 256px;
}
.icon-ph {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pk {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pl {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -3072px;
  width: 256px;
  height: 256px;
}
.icon-pm {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px 0px;
  width: 256px;
  height: 256px;
}
.icon-pr {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -256px;
  width: 256px;
  height: 256px;
}
.icon-ps {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -512px;
  width: 256px;
  height: 256px;
}
.icon-pt {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -768px;
  width: 256px;
  height: 256px;
}
.icon-pw {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -1024px;
  width: 256px;
  height: 256px;
}
.icon-py {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -1280px;
  width: 256px;
  height: 256px;
}
.icon-qa {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -1536px;
  width: 256px;
  height: 256px;
}
.icon-re {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -1792px;
  width: 256px;
  height: 256px;
}
.icon-ro {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -2048px;
  width: 256px;
  height: 256px;
}
.icon-ru {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -2304px;
  width: 256px;
  height: 256px;
}
.icon-rw {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -2560px;
  width: 256px;
  height: 256px;
}
.icon-sa {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -2816px;
  width: 256px;
  height: 256px;
}
.icon-sb {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -1792px;
  width: 256px;
  height: 254px;
}
.icon-sc {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sd {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -3328px;
  width: 256px;
  height: 256px;
}
.icon-se {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sg {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sh {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -3328px;
  width: 256px;
  height: 256px;
}
.icon-si {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sk {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sl {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sm {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sn {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -3328px;
  width: 256px;
  height: 256px;
}
.icon-so {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sr {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -3328px;
  width: 256px;
  height: 256px;
}
.icon-ss {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -3328px;
  width: 256px;
  height: 256px;
}
.icon-st {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -3328px;
  width: 256px;
  height: 256px;
}
.icon-sv {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px 0px;
  width: 256px;
  height: 256px;
}
.icon-sy {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -256px;
  width: 256px;
  height: 256px;
}
.icon-sz {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -512px;
  width: 256px;
  height: 256px;
}
.icon-tc {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -768px;
  width: 256px;
  height: 256px;
}
.icon-td {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -1024px;
  width: 256px;
  height: 256px;
}
.icon-tg {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -1280px;
  width: 256px;
  height: 256px;
}
.icon-th {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -1536px;
  width: 256px;
  height: 256px;
}
.icon-tj {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -1792px;
  width: 256px;
  height: 256px;
}
.icon-tk {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -2048px;
  width: 256px;
  height: 256px;
}
.icon-tl {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -2304px;
  width: 256px;
  height: 256px;
}
.icon-tm {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -2560px;
  width: 256px;
  height: 256px;
}
.icon-tn {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -2816px;
  width: 256px;
  height: 256px;
}
.icon-to {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -3072px;
  width: 256px;
  height: 256px;
}
.icon-tr {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -3328px;
  width: 256px;
  height: 256px;
}
.icon-tt {
  background-image: url(../images/map-sprite.png);
  background-position: 0px -3584px;
  width: 256px;
  height: 256px;
}
.icon-tv {
  background-image: url(../images/map-sprite.png);
  background-position: -256px -3584px;
  width: 256px;
  height: 256px;
}
.icon-tw {
  background-image: url(../images/map-sprite.png);
  background-position: -512px -3584px;
  width: 256px;
  height: 256px;
}
.icon-tz {
  background-image: url(../images/map-sprite.png);
  background-position: -768px -3584px;
  width: 256px;
  height: 256px;
}
.icon-ua {
  background-image: url(../images/map-sprite.png);
  background-position: -1024px -3584px;
  width: 256px;
  height: 256px;
}
.icon-ug {
  background-image: url(../images/map-sprite.png);
  background-position: -1280px -3584px;
  width: 256px;
  height: 256px;
}
.icon-us {
  background-image: url(../images/map-sprite.png);
  background-position: -1536px -3584px;
  width: 256px;
  height: 256px;
}
.icon-uy {
  background-image: url(../images/map-sprite.png);
  background-position: -1792px -3584px;
  width: 256px;
  height: 256px;
}
.icon-uz {
  background-image: url(../images/map-sprite.png);
  background-position: -2048px -3584px;
  width: 256px;
  height: 256px;
}
.icon-va {
  background-image: url(../images/map-sprite.png);
  background-position: -2304px -3584px;
  width: 256px;
  height: 256px;
}
.icon-vc {
  background-image: url(../images/map-sprite.png);
  background-position: -2560px -3584px;
  width: 256px;
  height: 256px;
}
.icon-ve {
  background-image: url(../images/map-sprite.png);
  background-position: -2816px -3584px;
  width: 256px;
  height: 256px;
}
.icon-vg {
  background-image: url(../images/map-sprite.png);
  background-position: -3072px -3584px;
  width: 256px;
  height: 256px;
}
.icon-vi {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -3584px;
  width: 256px;
  height: 256px;
}
.icon-vn {
  background-image: url(../images/map-sprite.png);
  background-position: -3584px -3584px;
  width: 256px;
  height: 256px;
}
.icon-vu {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px 0px;
  width: 256px;
  height: 256px;
}
.icon-wf {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -256px;
  width: 256px;
  height: 256px;
}
.icon-ws {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -512px;
  width: 256px;
  height: 256px;
}
.icon-ye {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -768px;
  width: 256px;
  height: 256px;
}
.icon-yt {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -1024px;
  width: 256px;
  height: 256px;
}
.icon-za {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -1280px;
  width: 256px;
  height: 256px;
}
.icon-zm {
  background-image: url(../images/map-sprite.png);
  background-position: -3328px -3072px;
  width: 256px;
  height: 256px;
}
.icon-zw {
  background-image: url(../images/map-sprite.png);
  background-position: -3840px -1536px;
  width: 256px;
  height: 256px;
}
