form(method="POST" action="#")
  h1 Edit user
  p
    label First Name
    input(type="text" name="firstname" placeholder="firstname" value="{{account.data.name.first}}")
  p
    label Last Name
    input(type="text" name="lastname" placeholder="lastname" value="{{account.data.name.last}}")
  p
    label Email
    input(type="text" name="email" placeholder="email" value="{{account.data.username}}")
  p
    label Carrier Domain
    select(name="carrier")
      option(value="")
      option(value="maaii.com") Maaii
  p
    label User group
  p
    ul
      li
        input(type="checkbox" name="groups" value="admin")
        label Admin
      li
        input(type="checkbox" name="groups" value="developer")
        label Developer
      li
        input(type="checkbox" name="groups" value="marketing")
        label Marketing
      li
        input(type="checkbox" name="groups" value="engineer")
        label Engineer
      li
        input(type="checkbox" name="groups" value="cs")
        label CS
  p
    input(type="submit" value="Create account")
  p
    a(ng-click="closeSlider()") Close
