div(class="account-list row")
  div(class="large-3 columns account-list__side-nav")
    div(class="account-list__side-nav__header")
    div(class="account-list__side-nav__contents")
      ul(class="side-nav")
        li(ng-repeat="account in accounts | filter:query" ng-hide="!account.data._id || account.data._id == ''")
          a(ui-sref=".account({ accountId: account.data._id })" ui-sref-active="active")
            {{account.data.name.first}} {{account.data.name.last}}
            br
            {{account.data.assignedGroup}}
    div(class="account-list__side-nav__footer") {{accounts.length || 0}} / 20 accounts
  div(class="large-9 columns" ui-view="account")
