# For Docker's run command, --env-file=

# `boot2docker ip` for OSX
APP_HOSTNAME=<boot2docker ip>
APP_PORT=3000

# Do not use `boot2docker ip` or "localhost" below
# NB: no shell expansion support
redis__host=<your machine ip>
queue__enable=false

# logstash
logging__winston__meta__instance=<deploy server name>
