mixin pagination()
  section(role="pagination" class="account-list__pagination")
    div(class="large-6 large-centered columns")
      div(class="row")
        div(class="large-8 columns")
          ul
            li(ng-repeat="page in [] | range: totalPages")
              a(ng-class="{'current': (page - 1) == currentPage}") {{ page }}
        div(class="large-4 columns")
          div(class="row collapse")
            div(class="large-8 columns")
              input(type="text" name="page" ng-model="query.pageNumber")
            div(class="large-4 columns")
              span(class="postfix") go
