//
// Top Bar Variables
//
$include-html-top-bar-classes: $include-html-classes;

$header-color: #666666;

// Background color for the top bar
$topbar-bg: none;

// Style the top bar dropdown elements
$topbar-dropdown-bg: none;
$topbar-dropdown-link-color: $header-color;
$topbar-dropdown-link-bg: none;
$topbar-dropdown-link-bg-hover: none;

// Set the link colors and styles for top-level nav
$topbar-link-color: black;
$topbar-link-color-hover: black;
$topbar-link-color-active: $topbar-link-color;
$topbar-link-color-active-hover: $topbar-link-color-hover;
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: $topbar-bg;
$topbar-link-bg-color-hover: $topbar-bg;
$topbar-link-bg-active: $topbar-dropdown-bg;
$topbar-link-bg-active-hover: $topbar-dropdown-link-bg;

$topbar-divider-border-bottom: solid 1px scale-color(lightgray, $lightness: 13%);

$topbar-arrows: false;
