.ui.raised.segment.signin(style="")
  .ui.grid
    .two.wide.column
    .ten.wide.column
      h2 ACCOUNT
    .four.wide.column
      i.grid.layout.icon
      | Welcome, Username &nbsp
      a(href="/logout")
        i.arrow.right.icon
  .menu.active
  .right= 'welcome User', + name
    .btn-logout