div(class="account-list row")
  div(class="large-11 large-offset-1 columns")
    aside(class="account-list__slider main-slider" ng-show="$state.current.name.indexOf('index.') > 0")
      div(class="main-slider__inner-wrapper .inner-wrapper" ui-view="enduser")
    div(class="row")
      section(role="controls" class="account-list__control-bar control-bar")
        div(class="large-12 columns")
          ul(class="left")
            li
              select(name="country")
                option(value="") Select Country
                option(value="CHN") China
                option(value="HKG") Hong Kong
            li
              input(type="date" name="from")
            li
              input(type="date" name="to")
          ul(class="right")
            li
              input(type="text" name="keywords" placeholder="Username / mobile number" ng-multiple="true")
            li
              input(type="file" file-reader="fileContent" accept="text/csv" ng-hide="true")
              div(class="button default small" ng-file-select ng-model="whitelistUploader.files")
                i(class="fi-upload")
            li
              div(class="button default small")
                i(class="fi-download")
    div(class="row")
      section(role="contents" class="account-list__block")
        div(class="large-12 columns")
          table
            thead
              tr
                th
                th username
                th country
                th mobile
                th registration
            tbody
              tr(ng-repeat="user in endUsers")
                td {{ user.data.verified }}
                td {{ user.data.displayName }}
                td {{ user.data.countryCode }}
                td
                  a(ui-sref=".enduser({ carrierId: user.data.carrierId, username: user.data.username })" ui-sref-active="active")
                    {{ user.data.username }}
                td {{ user.data.creationDate }}

