h3 {{endUser.data.username}}
h4 Wallet Info
div(ng-show="endUser.data.wallet")
  ul
    li
      span balance ${{endUser.data.wallet.balance}}
    li
      span status {{endUser.data.wallet.ocsStatus}}
    li
      span last top-up date {{endUser.data.wallet.lastTopupDate}}
    li
      span expiration date {{endUser.data.wallet.expiryDate}}
    li
      input(type="text")
      button(class="button") top up
div(ng-show="!endUser.data.wallet")
  p Wallet info is unavaliable for now. Click here to try reloading it.
h4 Account Info
ul
  li
    span verified user
    span {{endUser.data.verified}}
  li
    span mobile number
    span {{endUser.data.username}}
  li
    span Country
    span {{endUser.data.countryCode}}
  li
    span Create date
    span {{endUser.data.creationDate}}
  li
    span Gender
    span {{endUser.data.gender}}
  li
    span Email
    span {{endUser.data.email}}
  li
    span Pin
    span {{endUser.data.pin}}
  li
    span Date Of Birth
    span {{endUser.data.birthDate}}
  li
    span Account status
    span {{endUser.data.accountStatus}}
h4 App Info
ul(ng-repeat="device in endUser.data.devices")
  li
    span Device
    span {{device.plaform}}
  li
    span APP version number
    span V{{device.appVersionNumber}}
  li
    span Current APP Language
    span {{device.appLanguage}}
div
  a(class="button" ng-click="endUser.suspend()" ng-show="endUser.data.accountStatus == 'ACTIVE'") suspend user
  a(class="button" ng-click="endUser.reactivate()" ng-show="endUser.data.accountStatus == 'SUSPENDED'") reactivate user
  a(class="button alert" ng-click="endUser.terminate()") delete user
