div(class="account-details__section account-details__wallet-info")
  div(class="row")
    div(class="large-12 columns")
      h5 wallet Info
  div(ng-show="endUser.data.wallets")
    div(class="row")
      div(class="large-9 columns")
        label expiration date
          p date
      div(class="large-3 columns")
        label balance
          p balance
    div(class="row")
      div(class="large-12 columns")
        ul(ng-repeat="wallet in endUser.data.wallets")
          li
            div(class="row")
              div(class="large-12 columns")
                h5 {{wallet.walletType}}
            div(class="row")
              div(class="large-9 columns")
                label expiration date
                  p {{wallet.lastTopupDate}}
              div(class="large-3 columns")
                label balance
                  p {{wallet.balance}}
  div(ng-show="!endUser.data.wallets")
    div(class="row")
      div(class="large-12 columns")
        p
          | Wallet info is unavaliable for now.
          a(ng-click="endUser.refresh()") Click here
          | to try reloading it.
div(class="account-details__section account-details__account-info")
  div(class="row")
    div(class="large-8 columns")
      h5 account info
    div(class="large-4 columns")
      p {{endUser.data.accountStatus}}
  div(class="row")
    div(class="large-9 columns")
      label account create time
        p {{endUser.data.creationDate}}
    div(class="large-3 columns")
      label verified
        p {{endUser.data.verified}}
  div(class="row")
    div(class="large-6 columns")
      label country
        p {{endUser.data.countryCode}}
    div(class="large-6 columns")
      label mobile number
        p {{endUser.data.username}}
  div(class="row")
    div(class="large-8 columns")
      label email
        p {{endUser.data.email}}
    div(class="large-4 columns")
      label pin
        p {{endUser.data.pin}}
  div(class="row")
    div(class="large-5 columns")
      label date of birth
        p {{endUser.data.birthDate}}
    div(class="large-3 columns end")
      label gender
        p {{endUser.data.gender}}
div(class="account-details__section account-details__app-info")
  div(class="row")
    div(class="large-12 columns")
      h5 app info
  div(class="row")
    div(class="large-4 columns")
      label device
        p {{endUser.data.device.plaform}}
    div(class="large-4 columns")
      label version
        p V{{endUser.data.device.appVersionNumber}}
    div(class="large-4 columns")
      label language
        p {{endUser.data.device.appLanguage}}
div(ng-hide="true")
  a(class="button" ng-click="endUser.suspend()" ng-show="endUser.data.accountStatus == 'ACTIVE'") suspend user
  a(class="button" ng-click="endUser.reactivate()" ng-show="endUser.data.accountStatus == 'SUSPENDED'") reactivate user
  a(class="button alert" ng-click="endUser.terminate()") delete user
