.company-action-bar {
  // to fill up the gutter
  margin-left: -0.9375rem;
  background-color: #C34D4D;

  .top-bar-section ul li {
    padding: 0 10px;
  }

  .top-bar-section ul li > &__button {
    @include button(
      $padding: $button-sml,
      $bg: #DB5858,
      $radius: 1000px
    );

    // default from foundation
    padding-top: 0.4125rem;
    padding-bottom: 0.4125rem;

    margin: 0;

    text-transform: capitalize;
    border-top-width: 1px;
    border-left-width: 1px;
    border-color: #EA7171;
    color: #FFE7E7;
    box-shadow: 0px 0px 5px #B64545;
  }

  &__tab-panel {

    &__tab-item {

      > a {
        color: white !important;
      }
    }
  }
}
