.companies-list-bar {
  background: white;
  height: 100%;
  box-shadow: 0px 0px 5px 0px #CCC;
  // preserve space for menu sidebar
  padding-left: rem-calc($menu-sidebar-offcanvas-width) - 0.9375rem;

  &__search-bar {
    background: #707070;
    padding: 0 20px;

    > input {
      border-radius: 14px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__list-item {
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 5px 0;
      overflow: hidden;

      &__logo {
        width: 35%;
        text-align: center;
      }

      &__info {
        width: 65%;
        text-align: left;
        text-transform: capitalize;

        &__title {
        }

        &__location {
          color: #CCC;
          font-size: $description-font-size;
        }
      }
    }
  }
}
