.content-frame {
    padding-left: $menu-sidebar-offcanvas-width;
    $transform-distance: $menu-sidebar-width - $menu-sidebar-offcanvas-width;
    transform: translate($transform-distance, 0);
    transition: transform 0.28s ease-in-out;
    &.offcanvas {
        transform: translate(0px, 0);
    }
}
