html, body {
  height: 100% !important;
  overflow-x: hidden;
}

body {
  min-width: 1024px;
  min-height: 768px;
  background-color: $body-bg-color;
}

.row {
  max-width: 100%;
}

.main {
  overflow: hidden;

  &__main-section {
    height: 100%;
    padding-left: 80px;
    box-sizing: border-box;

    &__main-view {
      height: 100%;
      overflow: hidden;

      &__header {

      }

      &__contents {
        height: 100%;
      }
    }
  }
}
