html, body {
  height: 100% !important;
  // changed from hidden to scroll as body has min-width of 1280px
  overflow-x: scroll;
}

body {
  min-width: 1280px;
  // min-height: 768px;
  // background-color: $body-bg-color;
  $arguments: $body-bg-color-1, $body-bg-color-2;
  @include linear-gradient($arguments);
}

.public-container {
  height: 100%;
  margin-top: -$topbar-height;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.nav__system-message {
  display: flex;
  justify-content: center;
}

.system-message-container {
  $width: auto;

  position: fixed;
  top: rem-calc(10);
  width: $width;
  height: auto;
  z-index: 1;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.row {
  max-width: 100%;
}

.main {
  overflow: hidden;

  &__main-section {
    height: 100%;
    padding-left: 80px;
    box-sizing: border-box;

    &__main-view {
      height: 100%;
      overflow: hidden;

      &__contents {
        height: 100%;
      }
    }
  }
}
