.public-header {
  background-color: rgb(226, 61, 61);

  &__title-area {
    height: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
  }

  &__logo {
    max-width: 60px;
  }
}

.app-header {
}

.main-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;

  &__logo {

    img {
      width: 80px;
    }
  }
}

.section-header {
  border-bottom: 1px solid lightgray;

  .section-header__nav-bar {
    &__icon-button {
      i {
        font-size: 35px;
        vertical-align: middle;
      }
    }
  }

  &__title {
    text-indent: 30px;
    text-transform: uppercase;
  }
}
