.tab-panel {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    text-transform: capitalize;
    color: gray;
    margin: 0 20px;
    padding-bottom: 0.5rem;
    cursor: pointer;

    &.active {
      color: red;
      border-bottom: 2px solid red;
    }
  }
}
