include /mixins/pagination.jade

div(class="account-list row")
  div(class="large-1 columns")
  div(class="large-11 large-offset-1 columns")
    div(class="row")
      section(role="controls" class="account-list__main-control main-control")
        div(class="large-5 columns end")
          p
            input(type="text" name="from" ng-model="query.from" placeholder="start date")
          p
            input(type="texT" name="to" ng-model="query.to" placeholder="end date")
          p
            select(name="type" ng-model="query.type")
              option(value="") all
              option(value="onnet") onnet
          p
            input(type="text" name="keywords" ng-model="query.username" placeholder="mobile number")
          p
            a(class="button" ng-click="search()") Search
    div(class="row")
      section(role="contents" class="account-list__block")
        div(class="large-12 columns")
          table
            thead
              tr
                th
                th duration
                th type
                th mobile & destination
                th remark
            tbody
              tr(ng-hide="calls")
                td(colspan="5") {{ 'api.error' | translate }}
              tr(ng-hide="!calls || calls.length > 0")
                td(colspan="5") {{ 'api.empty' | translate }}
              tr(ng-repeat="call in calls" ng-hide="calls.error")
                td status
                td {{ call.duration }} {{ call.start_time }} {{ call.end_time }}
                td {{ call.type }}
                td {{ call.caller }} {{ call.caller_country }} {{ call.callee }} {{ call.callee_country }}
                td {{ call.bye_reason }}
      div(ng-show="!calls.error && calls.length > 0")
        +pagination()
