extends /layout/layout
block content
  h1= title
  p Password reset email sent. Please check your mailbox for instructions on resetting your password.
  p
    |Thank you for using M800.<br />
    |The M800 Team<br />
    a(href="mailto:support@m800.com") support@m800.com
  p
    a(href="/login") go back to Login
