extends /layout/layout
include /mixins/formInput.jade

block content
  .row.valign-middle.full-height
    .input-block.fp-block(ng-controller="ForgotPasswordController").large-5.columns
      .row
        .large-12.columns
          form(name="accountForm" action="/forgotpassword" method="POST").input-block__form.fp-block__form
            .input-block__form__title.fp-block__form__title.large-12.columns
              h2 {{'forgotPassword.title' | translate}}
            .input-block__formg__alert.fp-block__form__alert.large-12.columns
              h4.error #{message}
            .large-12.columns
              +input('username', 'email', 'Username', 'username')(required email)
            .large-12.columns
              +input('onetimepassword', 'text', 'Secret key', 'secretKey')
            if captcha
              .large-12.columns
                +input('captcha', 'text', 'Captcha', 'captcha')
            .large-12.columns
              .row
                .large-6.columns
                  a(href="/login") go back to Login
                .large-6.columns
                  input(type="submit").button.right.small
