extends /layout/layout
block content
  h1= title
  form(method="POST" action="/forgotpassword")
    |!{message}
    |!{body}
    p
      input(type="email" name="username")
    p
      input(type="submit" name="submit" value="Submit")
    p
      a(href="/login") go back to Login
