doctype html
html(lang="#{lang||'en'}" ng-app="App")
  include ./meta
    block scripts
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/i18next/i18next.min.js')
      script(src='/vendor/csvToArray/csvToArray.v2.1.min.js')
      script(src='/vendor/angular/angular.min.js')
      script(src='/vendor/angular-translate/angular-translate.js')
      script(src='/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
      script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/vendor/angular-animate/angular-animate.min.js')
      script(src='/vendor/angular-messages/angular-messages.min.js')
      script(src='/vendor/angular-resource/angular-resource.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload.min.js')
      script(src='/vendor/angular-loading-bar/build/loading-bar.min.js')
      script(src='/javascript/application.js')
  head
    title= title

    <!-- Styles -->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    <!-- Scripts -->
  body(class="antialiased")
    div(class="inner-wrap full-height main")
      nav(role="main-nav" class="main-sidebar")
        div(class="main-sidebar__contents fixed vertical")
          a(class="item" ui-sref="dashboard.index" ui-sref-active="active")
            i(class="fi-web")
            label {{'dashboard.title' | translate}}
          a(class="item" ui-sref="companies.index" ui-sref-active="active")
            i(class="fi-home")
            label {{'company.title' | translate}}
          a(class="item" ui-sref="accounts.index" ui-sref-active="active")
            i(class="fi-torso")
            label {{'account.title' | translate}}
          a(class="item" ui-sref="endusers.index" ui-sref-active="active")
            i(class="fi-torsos-all")
            label {{'end_user.title' | translate}}
          a(class="item" ui-sref="topups.index" ui-sref-active="active")
            i(class="fi-dollar")
            label {{'top_up.title' | translate}}
          a(class="item" ui-sref="calls.index" ui-sref-active="active")
            i(class="fi-telephone")
            label {{'calls.title' | translate}}
          a(class="item" ui-sref="im.index" ui-sref-active="active")
            i(class="fi-comment")
            label {{'im.title' | translate}}
          a(class="item" ui-sref="store.index" ui-sref-active="active")
            i(class="fi-shopping-cart")
            label {{'store.title' | translate}}
          a(class="item" ui-sref="permissions" ui-sref-active="active" ng-hide="true")
            label {{'permissions.title' | translate}}
          a(class="item" ui-sref="voucher" ui-sref-active="active" ng-hide="true")
            i(class="fi-dollar-bill")
            label {{'voucher.title' | translate}}
          a(class="item" ui-sref="setting.index" ui-sref-active="active")
            i(class="fi-widget")
            label {{'setting.title' | translate}}
      section(role="main" class="main__main-section")
        div(class="main__main-section__main-view" ui-view)

    block content
