doctype html
html(lang="#{lang||'en'}" ng-app="App")
  include ./meta
    block scripts
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/i18next/i18next.min.js')
      script(src='/vendor/csvToArray/csvToArray.v2.1.min.js')
      script(src='/vendor/angular/angular.min.js')
      script(src='/vendor/angular-translate/angular-translate.js')
      script(src='/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js')
      script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/vendor/angular-animate/angular-animate.min.js')
      script(src='/vendor/angular-messages/angular-messages.min.js')
      script(src='/vendor/angular-resource/angular-resource.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
      script(src='/vendor/ng-file-upload/angular-file-upload.min.js')
      script(src='/vendor/angular-loading-bar/build/loading-bar.min.js')
      script(src='/javascript/application.js')
  head
    title= title

    <!-- Styles -->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    <!-- Scripts -->
  body(class="antialiased")
    div(class="inner-wrap full-height main-sidebar")
      nav(role="main-nav")
        div(class="main-sidebar__contents fixed vertical")
          a(class="item" ui-sref="dashboard.index" ui-sref-active="active")
            i(class="fi-web")
            label {{'dashboard' | translate}}
          a(class="item" ui-sref="companies.index" ui-sref-active="active")
            i(class="fi-home")
            label {{'company' | translate}}
          a(class="item" ui-sref="accounts.index" ui-sref-active="active")
            i(class="fi-torso")
            label {{'account' | translate}}
          a(class="item" ui-sref="endusers.index" ui-sref-active="active")
            i(class="fi-torsos-all")
            label {{'end_user' | translate}}
          a(class="item" ui-sref="permissions" ui-sref-active="active" ng-hide="true")
            label {{'permissions' | translate}}
          a(class="item" ui-sref="voucher" ui-sref-active="active" ng-hide="true")
            i(class="fi-dollar-bill")
            label {{'voucher' | translate}}
          a(class="item" ui-sref="setting" ui-sref-active="active")
            i(class="fi-widget")
            label {{'setting' | translate}}
      section(role="main" class="")
        div(class="row")
          div(class="large-1 columns")
          div(class="large-11 large-offset-1 columns")
            div(class="main-view" ui-view)
    block content
