doctype html
html(lang="#{lang||'en'}" ng-app="AuthApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    //-TODO favicon
  body
    block header
      .row.main-header
        .large-12.columns
          .main-header__logo.left
            img(src="/images/m800-logo.png")
    block content
    block scripts
      //-TODO let all these handled by build tool (inject & version tag & minimize)
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/i18next/i18next.min.js')
      script(src='/javascript/bundle.js')
