doctype html
html(lang="#{lang||'en'}")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      script(src='/vendor/jQuery/dist/jquery.min.js')
      script(src='/vendor/i18next/i18next.min.js')
      script(src='/javascript/bundle.js')