meta(name="viewport" content="width=device-width, initial-scale=1")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
//-http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
meta(name="theme-color" content="#000")


