div(class="account-list row")
  div(class="large-11 large-offset-1 columns")
    div(class="row")
      section(role="controls" class="account-list__main-control main-control")
        div(class="large-5 columns end")
          p
            input(type="text" name="daterange" placeholder="Username or User Group Name")
          p
            input(type="text" name="keywords" placeholder="mobile number")
    div(class="row")
      section(role="contents" class="account-list__block")
        div(class="large-12 columns")
          table
            thead
              tr
                th date & time
                th mobile
                th plaform
                th virtual item
                th amount
                th transaction ID
            tbody
              tr(ng-hide="transactions")
                td(colspan="6") {{ 'api.error' | translate }}
              tr(ng-hide="!transactions || transactions.length > 0")
                td(colspan="6") {{ 'api.empty' | translate }}
              tr(ng-repeat="transaction in transactions" ng-hide="transactions.error")
                td {{ transaction.purchaseDate }}
                td {{ transaction.userNumber }}
                td {{ transaction.store }}
                td {{ transaction.virtualItemId }}
                td {{ transaction.amount }}
                td {{ transaction.transactionId }}

