div(class="account-list row")
  div(class="large-1 columns")
  div(class="large-11 large-offset-1 columns")
    div(class="row")
      section(role="controls" class="account-list__main-control main-control")
        div(class="large-5 columns end")
          p
            input(type="text" name="daterange" placeholder="Username or User Group Name")
          p
            input(type="text" name="keywords" placeholder="mobile number")
    div(class="row")
      section(role="contents" class="account-list__block")
        div(class="large-12 columns")
          table
            thead
              tr
                th timestamp
                th mobile number
                th amount
                th virtual item id
                th type
                th category
                th status
            tbody
              tr(ng-hide="transactions")
                td(colspan="7") {{ 'api.error' | translate }}
              tr(ng-hide="!transactions || transactions.length > 0")
                td(colspan="7") {{ 'api.empty' | translate }}
              tr(ng-repeat="transaction in transactions")
                td 1
                td 2
                td 3
                td 4
                td 5
                td 6
                td 7

