input {
  &.error, &.error:focus {
    border: 1px solid red;
    margin-bottom: 0 !important;
  }

  &.error + label {
    margin-bottom: rem-calc(10);
    color: red;
    font-size: smaller;
  }
}

.inline {
  display: inline-block;
  text-transform: none !important;
}

.input-static {
  padding: rem-calc(5 0 5 0);
}
