.button-group{
  @include button-group-container();
  .button{
    @include button(
      $bg: $white
    );
    color: $gray-light;
    border: 1px solid $gray-light !important;
    border-right: 0 !important;
    border-left: 0 !important;
    &:hover{
      color: scale-color($gray-light, $lightness: $link-function-factor);
      background: transparent;
    }
    &.active{
      color: $brand-primary;
    }
  }
  li {
    margin: 0 !important;
  }
  li:first-child{
    .button{
      border-left: 1px solid $gray-light !important;
    }
  }
  li:last-child{
    .button{
      border-right: 1px solid $gray-light !important;
    }
  }
}
