.button--primary {
    @include button(
		$bg: $brand-primary,
		$radius: $global-radius
	);
}

.button--secondary{
	@include button(
		$bg: scale-color($brand-secondary, $lightness: -3%),
		$radius: $global-radius
	);
}

.button--primary,
.button--secondary{
	@include box-shadow(inset 0px 1px 1px rgba(255,255,255,0.2), inset 0px -1px 1px rgba(0,0,0,0.2));
    min-width: rem-calc(100);
    ~ input[type="submit"]{
    	margin-left: rem-calc(20);
    }
}

.button--no-background {
  background: none !important;
  border: 1px solid $brand-primary;
  color: $brand-primary;

  &:hover,
  &:focus {
    color: $brand-primary;
  }

  &.disabled {
    opacity: 0.5;
    color: $brand-primary;

    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
}

.button--extended {
  padding: 0.375rem 2.5rem 0.4375rem;
}

$button-circle-diameter: 35;

&.button--circle {
  width: rem-calc($button-circle-diameter) !important;
  height: rem-calc($button-circle-diameter) !important;
  border-radius: rem-calc($button-circle-diameter);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.2);

  &--text {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }

  > a {
    display: inline-block;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    line-height: rem-calc($button-circle-diameter);
  }

  [class^="icon-"] {
    display: inline-block;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    line-height: rem-calc($button-circle-diameter);
  }
}
// overwrite thr button style of foundation
.button.round {
  border-radius: 5px;
}
