.call_status {
  &.success {
    color: $success-color;
  }

  &.alert {
    color: $alert-color;
  }
}

.call_type {
  color: $white;
  font-size: rem-calc(14);
  text-transform: capitalize;

  &.onnet {
    background-color: $status-active;
  }

  &.offnet {
    background-color: $status-disable;
  }
}
