.circle-button {
  margin-top: rem-calc(-3px);
  &.red {
    background: red;
    @include circle-button(red);
  }

  &.green {
    background: $success-color;
    @include circle-button($success-color);
  }

  &.blue {
    background: blue;
    @include circle-button(blue);
  }

  &.grey {
    background: grey;
    @include circle-button(grey);
  }
}
