.company-sidebar {
  &__search {
    background: $gray-table;
    padding: 0 $fieldset-padding;
    height: $company-sidebar-height;
    display: flex;
    justify-content: flex-end;
    > div {
      position: relative;
    }
    .button-create {
      height: 1.95rem;
      top: -0.2rem;
      > a {
        color: white;
      }
    }
    input {
      @include inputBoxReset;
      @include inputBoxWithIcon;
      ~ .icon {
        left: 1.00rem;
      }
      &.round {
        border-radius: $company-sidebar-height;
      }
    }
  }
}

.button-create{
  margin-right: rem-calc(30);
  border-radius: rem-calc(2);
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: $gray-table;
}