.company-sidebar {
    &__search-bar {
        background: #707070;
        padding: 0 20px;
        height: $company-sidebar-height;
        > input {
            @include inputBoxReset;
            @include inputBoxWithIcon;
            @include border-radius(rem-calc(6));
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
            padding: rem-calc(10) 0;
            overflow: hidden;
            &__logo {
                text-align: center;
                width: rem-calc(90);
                img {
                    @include border-radius($company-switcher-width/4);
                }
            }
            &__info {
                width: 65%;
                text-align: left;
                text-transform: capitalize;
                &--title {}
                &--location {
                    color: #CCC;
                    font-size: $description-font-size;
                }
            }
        }
    }
}
