
.company-sidebar {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
            padding: rem-calc(10) rem-calc(20);
            overflow: hidden;
            a {
                display: flex;
                align-items: center;
            }
            td {
                width: rem-calc(400);
            }
            .active {
                color: $success-color;
            }
            .in-progress {
                color: $info-color;
            }
            .suspended {
                color: $alert-color;
            }
            .unknown {
                color: grey;
            }
            &__logo {
                width: rem-calc(70);
                img {
                    @include border-radius($company-switcher-width/4);
                    max-width: rem-calc(50);
                }
            }
            &__info {
                width: 65%;
                text-align: left;
                text-transform: capitalize;
                &__title, &location {
                    line-height: 1.2;
                    display: block;
                    clear: both;
                }
                &__title {
                    color: $black;
                }
                &__location {
                    color: $gray;
                    font-size: $description-font-size;
                }
            }
        }
    }
}
