.company__new-profile {
  position: relative;  
  .title-inline {
    display: inline-block;
    margin-left: 4.8rem;
  }
  .input-name {
    width: 100%;
  }
  .inline {
    display:inline-block;
    width: 50%;
  }
  .header__sub {
    padding-top:5px;
  }
  .inline-with-space {
    background: $white;
    padding: 18px 50px 0px 10px;
    align-items: baseline;
  }
  .rc-collapse-header {
    text-indent: 0;
    text-align: right;
    padding-right: 3%;
  }
  .icon {
    fill:#999;
    position: absolute;
    top:1.55rem;
    left: 2rem;
    cursor: pointer;
  }
  .complete {
    color: $success-color;
  }
  .in-progress {
    color: $info-color;
  }
  .status-error {
    color: $alert-color;
    cursor: pointer;
  }
  .unknown {
    color: $gray;
  }
  .button {
    font-size: 0.875rem;
    padding: 0.6rem 2.25rem 0.6rem 2.25rem;
  }
  .dialog-body {
    padding: 0;
  }
  .rc-collapse {
    border-top:1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    > .rc-collapse-item {
      padding: rem-calc(10);
      >.rc-collapse-header {
        span {
          left: rem-calc(63);
        }
      }
      .rc-collapse-content.rc-collapse-content-active{
        overflow: visible;
      }
      .rc-collapse-content.rc-collapse-anim{
        overflow: hidden;
      }
    }
  }
  .rc-collapse-header {
    font-weight: 400;
    color: $black-header;
  }
  .rc-collapse-content-box {
    font-size: rem-calc(13);
  }
}
.company-profile {
  width: 60%;
  margin-left: 5%;
  .status {
    padding-top: rem-calc(8);
  }
}
.company-description {
  width: 60%;
  margin-left: 5%;
  .Select {
    margin-right: 0px;
    width: 100%;
    margin-bottom: rem-calc(13);
  }
  .Select-control {
    padding: 0px;
  }
}
.company-capabilities {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  font-size: rem-calc(13);
  .checkbox-capabilities {
    width: 20%;
  }
}
