.company-sidebar {
    &__search {
        background: $gray-dark;
        padding: 0 rem-calc(20);
        height: $company-sidebar-height;
        > input {
            @include inputBoxReset;
            @include inputBoxWithIcon;
            @include border-radius(rem-calc(6));
        }
    }
}
