.company-wallet-header {
  .company-wallet-header__link {
    display: inline-flex;
    align-items: center;
    padding: rem-calc(10 0 10 0);
    h4 {
      margin-bottom: 0;
    }
    .icon {
      margin-right: rem-calc(10);
      fill: $gray;
    }
  }
  .export-download-button {
    display: inline-block;
  }
}

.company-wallet-table {
  width: 100%;
}
