// Typography
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300);
$font-family-ubuntu: "Ubuntu", Helvetica, Roboto, Arial, sans-serif !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

.ReactModal__Overlay {
  width: 100%;
  height: 100%;
  z-index: 101;
}

.confirmation {
  $dialog-width: rem-calc(600);
  $button-width: rem-calc(120);
  font-family: $font-family-ubuntu;
  font-weight: $font-weight-light;

  @include border-radius('4px');
  background-color: #fff;

  margin-left: auto;
  margin-right: auto;

  position: relative;
  width: $dialog-width;
  top: 20%;
  border-radius: 5px;

  .high-light {
    color: $brand-primary ;
  }

  &__header {
    // the border-radious mixin does not support multiple values
    border-radius: 4px 4px 0 0;
    background-color: $dialog-header-background-color;
    padding: rem-calc(2) rem-calc(8);

    &__title {
      color: $dialog-header-color;
      font-size: rem-calc(16);
      margin: rem-calc(3);
    }
  }

  &__body {
    cursor: default;
    font-size: rem-calc(16);
    word-wrap: break-word;

    &__line {
      font-size: rem-calc(14);
      margin-bottom: rem-calc(5);
    }
  }

  &__footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    &__button {
      display: inline-block;
      //overwrite the style
      margin: 0;
    }
  }

  &__button--cancel {
    border:1px solid $button-cancel-border-color;
    color: $button-cancel-font-color;
    background: white;
    border-radius: rem-calc(5);
    min-width: 6.25rem;
    font-size: rem-calc(12);
    //overwrite the button style
    &:hover {
      background: white;
      color: $button-cancel-font-color;
    }
  }

  &__button--delete {
    font-size: rem-calc(12);
    border-radius: rem-calc(5);
    min-width: 6.25rem;
    &:hover {
    background-color: scale-color($brand-secondary, $lightness: -3%);
    }
  }
}

.dialog-body {
  padding: rem-calc(25) rem-calc(25) rem-calc(21) rem-calc(25);
  > span {
    display: inline-block;
  }

  .dialog-info {
    padding-bottom: $global-spacing*2;
  }
}

.dialog-header {
  background: $brand-primary;
  color: white;
  padding: $global-spacing/2 rem-calc(25);
  border-radius: rem-calc(5) rem-calc(5) 0 0;
}
