.data-table {
  thead {
    background-color: white;
    cursor: default;

    th {
      font-weight: 500;
      font-size: rem-calc(15);
    }
  }

  &:not(.verification-profile) {
    tbody {
      tr:not(.empty):nth-child(odd) {
        background: #f1f1f1;
      }

      tr.empty {
        > td {
          cursor: default;
        }

        div {
          font-weight: 500;
          color: $table-foot-font-color;
        }
      }
    }

    td {
      padding: rem-calc(10) rem-calc(15);
    }
  }

  .remark {
    > i {
      font-size: rem-calc(18);
      color: $alert-color;
    }
  }

  .status-label {
    width: rem-calc(70);
    text-transform: capitalize;
    letter-spacing: 0.04em;
  }

  .pagination__button--inactive {
    cursor: initial;
  }

  .pagination__button--disabled {
    filter: opacity(.3);
    pointer-events: none !important;
  }

  .device-modal {
    .icon-apple {
      font-size: rem-calc(16);
      margin-right: rem-calc(5);
      color: $icon-apple-color;
    }
    .icon-android {
      font-size: rem-calc(16);
      margin-right: rem-calc(5);
      color: $icon-android-color;
    }
  }

  .account-status {
    .label {
      margin-right: rem-calc(5);
    }
  }
}
