.data-cell {
  width: 100%;
  padding: rem-calc(15) 0;
  text-align: center;

  &__wrapper {
    margin: 0;
    display: flex;
    align-items: stretch;

    > .columns {
      border-right: 1px solid #eee;
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;
      padding-top: 0.75rem;
      flex: 1;

      &:first-child {
        margin-left: rem-calc(15);
      }

      &:last-child {
        border-right: 0 none;
        margin-right: rem-calc(15);
      }
    }
  }

  &__title {
    font-size: rem-calc(14);
    color: $gray;
    margin-bottom: rem-calc(10);
  }

  &__data {
    font-size: rem-calc(25);
    font-weight: bolder;
  }

  &__unit {
    font-size: rem-calc(14);
    color: $gray;
  }

  &__trend {
    font-size: rem-calc(12);
    margin-top: rem-calc(10);

    &.up {
      &.positive {
        color: $up-trend-font-color;

        .arrow {
          @include triangle(up, $up-trend-font-color, 9);
          line-height: rem-calc(8);
          vertical-align: top;
        }
      }

      &.negative {
        color: $down-trend-font-color;

        .arrow {
          @include triangle(up, $down-trend-font-color, 9);
          line-height: rem-calc(8);
          vertical-align: top;
        }
      }

      &.no-effect {
        color: $no-effect-trend-font-color;

        .arrow {
          @include triangle(up, $no-effect-trend-font-color, 9);
          line-height: rem-calc(8);
          vertical-align: top;
        }
      }
    }

    &.down {
      &.positive {
        color: $down-trend-font-color;

        .arrow {
          @include triangle(down, $down-trend-font-color, 9);
          line-height: rem-calc(10);
          vertical-align: bottom;
        }
      }

      &.negative {
        color: $up-trend-font-color;

        .arrow {
          @include triangle(down, $up-trend-font-color, 9);
          line-height: rem-calc(10);
          vertical-align: bottom;
        }
      }

      &.no-effect {
        color: $no-effect-trend-font-color;

        .arrow {
          @include triangle(down, $no-effect-trend-font-color, 9);
          line-height: rem-calc(8);
          vertical-align: bottom;
        }
      }
    }

    .arrow {
      font-size: 0;
    }

    > span {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
