.language-switcher {
  background-color: transparent;
  padding: rem-calc(20);
  top: 0.95rem !important;
  border: 0;

  outline: none;
  appearance: none;

  color: white;

  &:focus {
    color: black;
    background: none;
  }
}
