$light-gray: #e3e3e3;

ul.pagination {
  @include pagination;

  > li {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    height: 100%;

    padding: 0;
    margin: 0;

    > a {
        width: rem-calc(36);
        height: rem-calc(36);
        display: flex;
        align-items: center;
        justify-content: center;
        @include border-radius($global-rounded);
    }

    &.hover {
      > a {
        color: black;
      }
    }

    &.active {
      height: 100%;
      background-color: $light-gray;

      > a {
        color: black;
        font-weight: bolder;
      }
    }

    .disabled {
      opacity: 0.5;
    }
  }
}
.pagination-select {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  .Select-value {
    //for overwrite the default style
    padding: 0px;
  }
  .Select-control {
    width: 80%;
  }
  .Select-clear-zone {
    display: none;
  }
  .select-number {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .Select {
    width: rem-calc(80);
  }
}
