.panel {
    &--default {
    	@include panel();
    	@include border-radius($global-radius);
    	@include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
    	h1{
    		text-transform: uppercase;
    		padding-top: rem-calc(30);
    		padding-bottom: rem-calc(40);
    	}
    }
}
