/*------------------------------------*\
    react-select styles
\*------------------------------------*/
.pagination-select {
  .Select-menu-outer {
    top:auto;
    bottom: 100%;
  }
  .Select-value {
    padding: 5px 45px 8px 10px;
  }
}
.company-description {
  .Select {
    margin-right: 0px;
    width: 100%;
  }
  .Select-control {
  padding: 3px 50px 3px 50px;
  }
}
