// overwrite the react-select style
.Select {
  &.error, &.error:focus {
    .Select-control {
      border-color: red;
    }
  }

  &.error + label {
    margin-bottom: rem-calc(10);
    color: red;
    font-size: smaller;
  }
}

.pagination-select {
  .Select-menu-outer {
    top:auto;
    bottom: 100%;
    font-size: rem-calc(13);
  }
  .Select-control {
    width: 70%;
    font-size: rem-calc(13);
  }
  .Select-clear-zone {
    display: none;
  }
}
