// overwrite the react-select style
.pagination-select {
  .Select-menu-outer {
    top:auto;
    bottom: 100%;
    font-size: rem-calc(13);
  }
  .Select-control {
    width: 70%;
    font-size: rem-calc(13);
  }
  .Select-clear-zone {
    display: none;
  }
}
