.switch-button-group {
  $red: #D17273;
  $gray: #999;
  $light-gray: #e3e3e3;
  width: 80%;

  border-radius: rem-calc($global-radius);
  border: 1px solid $light-gray;
  display: flex;
  margin-bottom: rem-calc(10);

  .item {
    cursor: pointer;
    color: $gray;
    width: 50%;
    display: inline-block;
    text-align: center;

    &.active {
      color: $white;
      background: grey;
      padding: rem-calc(2);
    }

    &:hover {
      color: $light-gray;
    }
  }
}