.switch-button-group {
  $red: #D17273;
  $gray: #999;
  $light-gray: #e3e3e3;
  width: 80%;

  border-radius: rem-calc($global-radius);
  border: 1px solid $light-gray;
  display: flex;
  margin-bottom: rem-calc(10);
  font-size: rem-calc(13);

  .item {
    cursor: pointer;
    color: $gray;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: rem-calc(6);

    &.active {
      color: $white;
      background: grey;
    }

    &:hover {
      color: $light-gray;
    }

    &.left {
      border-radius: rem-calc($global-radius)  0px 0px rem-calc($global-radius);
    }

    &.right {
      border-radius: 0px rem-calc($global-radius) rem-calc($global-radius) 0px;
    }
  }
  &.disabled {
    pointer-events: none;
  }
}
