.system-message {
  @include border-radius(rem-calc(5));
  background-color: rgba($gray-dark, 0.95);
  color: $white;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(2);
  padding: rem-calc(10) $column-gutter;
  height: rem-calc(40);

  .crouton {
    line-height: rem-calc(20);
  }

  &.success {
    // green background
    background-color: rgba(67, 172, 106, 0.95);
  }
}
