.system-message {
  @include border-radius(rem-calc(10));
  background-color: rgba($gray-dark, 0.95);
  color: $white;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(2);
  padding: rem-calc(10) $column-gutter;
}
