table {
    margin-top: rem-calc(20);
    overflow: hidden;
    @include border-radius($panels-border-radius);
    @include box-shadow('0 1px 2px rgba(103, 103, 103, 0.30)');
    &.clickable {
        tbody > tr {
            > td {
                cursor: pointer;
            }
            &:hover {
                > td {
                    background: scale-color($brand-primary, $lightness: 90%);
                }
            }
        }
    }
    thead > tr{
        height: $table-header-height;
        background: $white;
    }
    thead > tr > th,
    tbody > tr > td {
        min-width: 50px;
    }
    tbody {
        background: $white;

        tr {
            border-bottom: 1px solid $gray-lightest;
            &:nth-of-type(odd) {
              background: $table-odd-color;
            }
            &.selected {
              background: scale-color($brand-primary, $lightness: 90%);
            }
        }
    }
    tfoot{
        background: $white;
        .pagination{
            margin: 0;

            &__button {
                // first-letter does not work on inline element
                display: block;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;

                &--inactive {
                    cursor: initial;
                }

                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}
