.tab {
    margin: 0 0 rem-calc(30);
    list-style: none;
    &__title {
        padding-right: rem-calc(60);
        display: inline-block;
        a{
          color: scale-color($body-font-color, $lightness: 50%);
          &.active{
            color: $brand-primary;
            padding-bottom: rem-calc(5);
            border-bottom: 2px solid $brand-primary;
          }
        }
    }
    &--inverted {
        border-right: $tab-inverted-border;
        &__title {
            &:first-child {
                margin-left: $column-gutter;
            }
            &:last-child {
                margin-right: $column-gutter;
            }
            a {
                color: $topbar-inner-link-color;
                min-width: initial !important;
                &.active {
                    color: $topbar-inner-link-color-active;
                }
            }
        }
    }
}
