table {
    margin-top: rem-calc(20);
    overflow: hidden;
    @include border-radius($panels-border-radius);
    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
    &.clickable {
        tbody > tr {
            > td {
                cursor: pointer;
            }
            &:hover {
                > td {
                    background: scale-color($brand-primary, $lightness: 90%);
                }
            }
        }
    }
    thead > tr > th,
    tbody > tr > td {
        min-width: 50px;
    }
    tbody {
        background: #fff;
        tr {
            border-bottom: 1px solid $gray-lightest;
        }
    }
    tfoot{
        background: #fff;
        .pagination{
            margin: 0;

            &__button {
                // first-letter does not work on inline element
                display: block;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;

                &--inactive {
                    cursor: none;
                }

                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}
