.time-frame-picker {
  $red: #D17273;
  $gray: #999;
  $light-gray: #e3e3e3;

  border-radius: rem-calc($global-radius);
  border: 1px solid $light-gray;
  padding: rem-calc(5);

  &.disabled {
    filter: opacity(.3);
    pointer-events: none !important;
  }

  .item {
    cursor: pointer;
    color: $gray;
    margin: 0 rem-calc(20);

    &.active {
      color: $red;
    }

    &:hover {
      color: $light-gray;
    }
  }

  // To show difference style if this control is placed in Top bar section
  &.revert {
    @include button-control;
    border: 0;

    .item {
      color: $light-gray;

      &.active, &:hover {
        color: white;
        font-weight: bolder;
      }
    }
  }
}
