// //
// // Top Bar Variables
// //
// $include-html-top-bar-classes: $include-html-classes;
// $header-color: #666666;
// $topbar-divider-border-bottom: solid 1px scale-color(lightgray, $lightness: 13%);
// $topbar-arrows: false;
.top-bar {
    .title-area {
        h1 {
            color: $white;
        }
    }
    .top-bar-section {
        ul {
            font-size: rem-calc(14);
            li {
                > a {
                    text-transform: capitalize;
                    min-height: rem-calc(60);
                    padding: rem-calc(0 30) !important;
                    i {
                        font-size: rem-calc(22);
                        line-height: 3.5rem;
                    }
                }
                &:before {
                    width: rem-calc(1);
                    height: rem-calc(12);
                    background: rgba(255, 255, 255, 0.5);
                    content: "";
                    position: absolute;
                    top: rem-calc(24);
                }
                &:last-child {
                    > a {
                        min-width: rem-calc(280);
                        padding-right: rem-calc(20) !important;
                        i {
                            line-height: 1rem;
                            position: relative;
                            top: 1.2rem;
                            float: right;
                        }
                        // &:after{
                        //     display: none;
                        // }
                    }
                }
            }
            &.dropdown {
                width: auto;
                min-width: 80%;
                max-width: 80%;
                @include border-radius($global-radius $global-radius);
                @include box-shadow(0 30px 40px rgba(0, 0, 0, 0.2));
                @media #{$medium-up}{
                    right: rem-calc(26) !important;
                }
                li {
                    min-width: 60%;
                    > a {
                        // @media #{$medium-up} {
                        line-height: rem-calc(50);
                        min-width: 100%;
                        min-height: initial;
                        // }
                    }
                    &:first-child {
                        margin-top: rem-calc(5);
                        @include border-radius($global-radius $global-radius 0 0);
                    }
                    &:last-child {
                        @include border-radius(0 0 $global-radius $global-radius);
                    }
                    &:before {
                        display: none;
                    }
                }
                &--company-switcher{
                    min-width: rem-calc($company-switcher-width);
                    width: rem-calc($company-switcher-width);
                    right: auto !important;
                    padding: rem-calc(20);
                    margin-top: rem-calc(5);
                    margin-left: rem-calc(- $company-switcher-width/2);
                    left: 50%;
                    background: $company-switcher-bg-color;
                    li{
                        width: 25%;
                        min-width: 25%;
                        background: $dropdown-link-bg-color;
                        margin-top: 0;
                        &:first-child,
                        &:last-child{
                            margin-top: 0;
                            @include border-radius(0);
                        }
                        a{
                            padding: 0 3% !important;
                            img{
                                @include border-radius($company-switcher-width/4);
                            }
                        }
                    }
                }
            }
        }
    }
}
