// hack to achieve the same effect of height 100%
$account-page-height: 900px;
$account-page-color: white;
$account-table-width: rem-calc(320);
$animation-time: 500ms;

.account-table {
  min-height: $account-page-height;
  min-width: $account-table-width;

  // allow content of account profile to get the rest of width automatically
  float: left;

  background-color: $account-page-color;
  box-shadow: 2px 0 2px #888888;
  .header {
    padding: rem-calc(15);
  }

  .icon-user-management{
    fill: black;
    width: rem-calc(24);
    height: rem-calc(24);
  }

  .icon-search.icon{
    left: rem-calc(30);
  }

  .account-icon .icon {
    fill: white;
    height: rem-calc(30);
    width: rem-calc(30);
    margin-bottom: rem-calc(16);
  }

  .active {
    background-color: #FDF5E6;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    padding: rem-calc(15);
    border-bottom: #DCDCDC 1px solid;
    a {
      outline: none;
    }

    &__username {
      font-weight: 680;
      @include oneLineText;
    }

    &__role {
      text-transform: capitalize;
      color: #C0C0C0;
      font-size: rem-calc(14);
    }

    &__email {
      @include oneLineText;
    }
  }

  &__item-catagory {
    text-transform: capitalize;
    background-color: #C0C0C0;
    font-size: rem-calc(14);
    font-weight: 750;
    padding: 5px 15px;
  }
}

.account-icon {
  margin-right: rem-calc(15);
}

.account-top-bar {
  &__button-primary {
    &:hover {
      background-color: scale-color($brand-secondary, $lightness: -3%);
    }
  }

  &__button-secondary {
    background-color: scale-color($brand-secondary, $lightness: -3%);
    padding: rem-calc(30);
  }
}

.account-reverify-email {
  color: $brand-primary;
  font-weight: bolder;

  line-height: 0;
  z-index: 100;
  cursor: pointer;

  float: right;
  position: relative;
  top: rem-calc(16);
  right: rem-calc(10);

  &:hover {
    color: $brand-secondary !important;
  }
}

.account-form {
  width: 90%;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: rem-calc(20);
  margin-bottom: rem-calc(1);

  .forward-enter {
    opacity: 0;
    left: -100%;
  }

  .forward-enter.forward-enter-active {
    opacity: 1;
    left: 0;
    transition: all $animation-time ease-in;
    -webkit-transition: all $animation-time ease-in;
  }

  .forward-leave {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  .forward-leave.forward-leave-active {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    transition: all $animation-time ease-in;
    -webkit-transition: all $animation-time ease-in;
  }

  .backward-enter {
    opacity: 0;
    left: 100%;
  }

  .backward-enter.backward-enter-active {
    opacity: 1;
    left: 0;
    transition: all $animation-time ease-in;
    -webkit-transition: all $animation-time ease-in;
  }

  .backward-leave {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  .backward-leave.backward-leave-active {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all $animation-time ease-in;
    -webkit-transition: all $animation-time ease-in;
  }

  .row:last-child {
    .large-17 {
      overflow: hidden;
    }
  }

  .error {
    @include errorMessage;
  }

  &__select {
    margin-bottom: rem-calc(20);

    &_label {
      margin-left: rem-calc(8);
      text-transform: capitalize;
    }
  }

  &__role-item {
    border-bottom: 1px solid #e0e0e0;
    padding: rem-calc(10);
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .icon-minus-circle {
      fill: $brand-primary;
      width: rem-calc(16);
      height: rem-calc(16);
    }
    .deleteIcon {
      width: 10%;
    }
    .item {
      width: 90%;
      display: flex;
    }
    .company-name {
      width: 50%;
    }
    .role-name {
      width: 50%;
    }
    &:hover {
      background: #eef6ff;
      cursor: pointer;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  .active {
    background-color: #FDF5E6;
  }

  &-link {
    color: $info-color;;
    cursor: pointer;
    margin-top: rem-calc(5);
    display: inline-block;
  }

  &__selected-role {
    height: 220px;
    overflow-y: auto;
    margin: rem-calc(15) rem-calc(8) rem-calc(20) rem-calc(30);
    .role {
      border-bottom: 1px solid #eeeeee;
      margin-right: rem-calc(20);
      cursor: pointer;
      input {
        width: rem-calc(18);
        height: rem-calc(18);
        vertical-align: middle;
        margin: 0px;
      }
      label {
        margin-left: rem-calc(10);
        cursor: pointer;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__selected-company {
    height: 250px;
    overflow-y: auto;
    margin: rem-calc(15) rem-calc(8) rem-calc(20) rem-calc(30);
    .company {
      padding: rem-calc(10) rem-calc(2);
      border-bottom: 1px solid #eeeeee;
      margin-right: rem-calc(20);
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .select-company {
    padding-bottom: rem-calc(20);
    height: rem-calc(377);
    .icon {
      height: rem-calc(25);
      width: rem-calc(25);
      margin-bottom: rem-calc(16);
      fill: #ccc;
    }
    .underline {
      font-size: rem-calc(12);
      text-decoration: underline;
    }
    .company-name {
      font-size: 16px;
      display: inline-block;
      margin-right: rem-calc(8);
      font-weight: 400;
    }
    &__role {
      margin-top: rem-calc(10);
    }
    &__header {
      display: inline-block;
      padding-top: rem-calc(7);
    }
  }

  &__assigned-role {
    border: 1px solid #a7a5a5;
    border-radius: 5px;
    background: white;
    margin-top: rem-calc(20);
    overflow: hidden;
    position: relative;
    // solve the font-weight change in Safari when do animation
    -webkit-transform: translateZ(0);
    &__company-list {
      padding: 1.125rem;
      -webkit-transform: translateZ(0);
    }
    .button {
      padding: rem-calc(6) rem-calc(40);
      margin: 0px rem-calc(7);
    }
    .delete {
      cursor: pointer;
      fill: #ccc;
      height: 1.55rem;
      width: 1.55rem;
    }
    ::-webkit-scrollbar {
      width: 8px;
      background: #eeeeee;
      border-radius: rem-calc(5);
    }
    ::-webkit-scrollbar-thumb {
      background-color: #cfcfcf;
      border-radius: rem-calc(5);
      height: rem-calc(50);
    }
  }

  &__company-selected {
    margin-top: rem-calc(5);
    float: right;
    font-size: rem-calc(12);
    color: #C0C0C0;
    cursor: default;
  }

  &__company-management {
    margin-top: rem-calc(15);
  }
}

.account-profile {
  overflow: hidden;
  min-height: $account-page-height;

  &__container {
    background-color: $account-page-color;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;

    width: 85%;

    margin-top: rem-calc(20);

    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    margin-bottom: rem-calc(-20);
    padding: rem-calc(15) rem-calc(20);
  }

  .profile-info {
    padding: rem-calc(30);
    text-align: center;
    position: relative;

    &__status {
      margin-right: rem-calc(15);
      position: absolute;
      right: 0;

      .success {
        color: green;
      }

      .alert {
        color: red;
      }

      &__message {
        margin-left: rem-calc(5);
        font-size: rem-calc(14);
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      margin-bottom: rem-calc(20);
    }

    &__time {
      font-size: rem-calc(12);
    }

    &__created_on {
      margin-right: rem-calc(5);
      color: #C0C0C0;
    }
  }
}
