.icon.vsf-type-filtering {
  fill: $topbar-inner-link-color;
  line-height: 1rem;
  &--active{
    fill: white;
  }
}
.vsf-table{
  .icon-virtual-item {
    fill: #696969;
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}
