.vsf-type-filtering {
  line-height: 0.9rem !important;

  &--active {
    color: white;
  }
}

.icon-apple-hack {
  color: #C0C0C0;
  font-size: 22px;
}

.icon-android-hack {
  color: #A5C63B;
  font-size: 22px;
}

.icon-virtual-item {
  color: #696969;
  padding: 0 5px;
  font-size: 18px;
}
